:root {
  --bg--buttom--color: #50B136;
  --bg--text--color--white: #fff;
  --bg--text--color--black: #000;
  --bg--input--color: #E6F8E0;
}
* {
  margin: 0 auto;
  font-family: sans-serif;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Sena_logo {
  width: 50px;
  margin: 10px 50px;
}
.banner_news {
  text-decoration: none;
  margin: 10px 50px;
  padding: 10px;
  color: var(--bg--text--color--white);
  background-color: var(--bg--buttom--color);
  border-radius: 8px;
}
.Menu {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-items: center;
}
.Menu_login {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 8px;
  gap: 50px;
  width: 80%;
  height: auto;
  align-content: center;
  justify-content: center;
}
.Menu_title {
  margin-top: 10px;
}
.Menu_login_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}
.Menu_form--docselect {
  border-radius: 4px;
  background-color: var(--bg--input--color);
  border: none;
  padding: 15px;
  text-align: center;
}
.Menu_form--data {
  background: var(--bg--input--color);
  border: none;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
}
.Menu_buttom {
  border: none;
  padding: 25px;
  border-radius: 8px;
  background-color: var(--bg--buttom--color);
  color: var(--bg--text--color--white);
}