@import url(../Css_base/root.css);
* {
    margin: 0 auto;
    font-family: sans-serif;
  }
  html {
    width: 100%;
    height: 100%;
  }
/* Banner */
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }
  .Sena_logo {
    width: 50px;
    margin: 10px 50px;
    align-self: flex-start;
  }
  .btn {
    text-decoration: none;
    text-align: center;
    margin: 10px 50px;
    padding: var(--padding);
    color: var(--bg--text--color--white);
    background-color: var(--bg--buttom--color);
    border-radius: 8px;
  }
  .banner_news {
    width: 60px;
    text-decoration: none;
    text-align: center;
    margin: 10px 50px;
    padding: var(--padding);
    color: var(--bg--text--color--white);
    background-color: var(--bg--buttom--color);
    border-radius: 8px;
  }
  .fa-home {
    font-size: 28px;
    margin: 5px;
  }
  
  
/* Landing */
.landing__page {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: gainsboro;
  width: 100%;
  border-radius: 8px;
  gap: 30px;
}



/* Menu formulario */
.Menu {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-items: center;
}
.Menu_container {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: var(--bg--container--color);
  border-radius: 8px;
  gap: 50px;
  width: 80%;
  height: auto;
  align-content: center;
  justify-content: center;
}
.Menu_form--all {
  display: grid;
  text-align: center;
  width: 100%;
  grid-template-columns: repeat(1, 80%);
  justify-content: center;
}
.Menu_registro {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #e1f4ffe5;
  border-radius: 8px;
  gap: 50px;
  width: 100%;
  margin-top: 30px;
  min-height: 400px;
  height: fit-content;
  align-content: center;
}
.Menu_form {
  display: grid;
  min-width: 300px;
  max-width: 100%;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: 70px;
  height: fit-content;
  justify-content: center;
  justify-items: start;
  gap: 100px 40px;
  padding: 10px;
}
.Menu_form--data {
  background: var(--bg--input--color);
  border: none;
  padding: 15px;
  border-radius: 4px;
  width: 170px;
  height: 25px;
  text-align: center;
}
.Menu_form--docselect {
  border-radius: 4px;
  background-color: var(--bg--input--color);
  border: none;
  padding: 15px;
}
.Menu_form--checkbox {
  border: 1px solid #000;
  color: var(--bg--input--color);
  width: 15px;
  height: 15px;
}
.Menu_form--field {
  display: grid;
  align-self: self-start;
  background-color: var(--bg--input--color);
  grid-template-columns: repeat(4, 100px);
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-decoration: underline;
  height: 25vh;
  border: 2px solid #000;
  border-radius: 8px;
}
.Menu_registro--title {
  margin-top: 10px;
}
.Menu_form--label {
  background-color: #000;
}
.Input_container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}



/* Responsive */
@media (max-width: 1310px) {
  .Menu_form--all {
    gap: 50px;
  }
  .Menu_form {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 30%);
    gap: 0 0;
    justify-items: center;
  }
  .Input_container {
    padding: 10px;
    margin: 0;
  }
  .Menu_form > h3 {
    margin: 20px;
    width: 200px;
  }
  .Menu_registro {
    height: 650px;
    margin-bottom: 100px;
    margin: 0;
  }
}

@media ( max-width: 590px) {
  .Menu_form {
    grid-template-columns: 100%;
    grid-template-rows: 100px;
    gap: 0 0;
    justify-items: center;
  }
  .Menu_registro {
    height: 950px;
    margin-bottom: 100px;
    margin: 0;
  }
  .Menu_form--field {
    height: fit-content;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: 50px;
  }
}